.register-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;

  header {
    padding: 15px 25px;
    h3 {
      color: #171717;
      font-size: 28px;
      text-align: center;
      font-weight: 900;
      margin: 0;
      span {
        font-weight: 300;
      }
    }

    h4 {
      color: #888;
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  }

  footer {
    width: calc(100% - 50px);
    height: 20px;
    background-color: #EEE;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #888;
      font-size: 16px;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }

    .link {
      color: #E35205;
      text-decoration: none;
      font-weight: 700;
    }
  }
}

.login-page, .register-page {
  .form-group {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    padding: 25px;

    input {
      width: 100%;
      height: 30px;
      border: 1px solid #DDD;
      margin-bottom: 15px;
      text-indent: 5px;
      background: #EEE;
      outline: none;

      &.err {
        background: rgba(255, 0, 0, 0.2);
        border: 1px solid #AF1E2D;
      }

      &:focus {
        border: 1px solid #AAA;
      }
    }

    button {
      width: 100%;
      height: 30px;
      background: #FFCE00;
      appearance: none;
      border: none;
      outline: none;
      border-radius: 8px;
      
      color: #171717;
      font-size: 18px;
      font-weight: 700;
    }

    .error_msg {
      margin: 15px 0px;
      padding: 10px;
      background-color: rgba(255, 0, 0, 0.2);
      color: #171717;
      font-weight: 700;
      border-radius: 8px;
    }
  }
}